p {
    color: black;
}

/* Ich bin ein CSS-Kommentar */

/* Selectors in CSS */

/*
    Element-Selector / Elements-Selektor
    Stylt alle Elemente des entsprechenden Typen
    Syntax:
    elementName (z.B. p) {Property:Value;}
*/

/*
    Universal-Selector
    Stylt alle Elemente
    Syntax: 
    * {Regel}
    Spezifität: 0, stylt also nur Elemente, für die das Property noch nicht festgelegt wurde
*/

* {
    color: yellow;
}

/* ID-Selector */
/*
    Stylt jedes Element mit der entsprechenden ID, also im Optimalfall nur ein einziges
    Syntax:
    #idNamen {Regel}
    Ist der spezifischste Selektor
*/

#site-top {
    font-size: 42px;
    color: green;
}

/*
    Class-Selector
    Stylt alle Elemente mit der entsprechenden Klasse
    Syntax:
    .className {Regel}
    Ist der zweitspezifischste Selektor, nach dem ID-Selector
*/
.cool-paragraph {
    color:slategrey;
    font-size: 38px;
}